body {
  background-color: #F4F4F4;
}
h1,
h3 {
  border-top: dotted 1px white;
  border-bottom: solid 2px white;
}
p {
  color: #3b5998;
  line-height: 21px;
}
.btn,
.btn-primary {
  padding: 10px 15px;
  border: 0;
  border-radius: 12px;
}
.btn-primary {
  background-color: #20B2AA;
  color: white;
}
.bordered {
  border-top: dotted 1px white;
  border-bottom: solid 2px white;
}
ul#menu {
  list-style: none;
  background-color: #57e1d9;
}
ul#menu li {
  padding: 10px 0;
}
ul#menu li a {
  color: #20B2AA;
  text-decoration: none;
}
ul#menu li a:hover {
  color: white;
}
