@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic);
@import '../css/selectize/selectize.bootstrap3.css';
@import '../css/owl.carousel.css';
@import '../css/owl.theme.css';
@import '../css/bootstrap.css';
@import '../css/ion.rangeSlider.css';
@import '../css/ion.rangeSlider.skinFlat.css';
@import '../css/font-awesome.css';
@import '../css/about-author.css';
@import '../css/detail-product.css';
@import '../css/bootstrap-select.css';
@import '../css/slider.css';
@import '../css/aboutus.css';
@import '../css/inner-page.css';
@import '../css/inner.css';
@import '../css/contactus.css';
@import '../css/blog-detail.css';
@import '../css/blog.css';
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);*/
/******************** FONT VARIABLES ********************/
/******************** COLOR VARIABLES ********************/
html,
body {
  background: #f9f9f9;
}
.top-nav {
  height: 55px;
  background-color: #2e3137;
  line-height: 50px;
  border-bottom: 1px solid #3a3d44;
  display: table;
  width: 100%;
}
.top-nav a {
  color: #d7d7d7;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.top-nav a i {
  font-size: 13px;
}
.top-nav a i.pad {
  padding-right: 10px;
}
.top-nav a:hover {
  color: #ee644c !important;
}
.top-nav ul {
  margin: 0px;
}
.top-nav ul li:hover a {
  color: #ee644c !important;
}
.top-nav ul li {
  border-left: 1px solid #3a3d44;
  height: 100%;
  padding: 0px 25px !important;
}
.top-nav ul li i {
  padding: 0px;
}
.top-nav ul li:first-child {
  border-left-width: 0px !important;
}
.top-nav ul.dropdown-menu {
  box-shadow: none;
  background: transparent;
  background: rgba(46, 49, 55, 0.8);
  border-top: 2px solid  #ee644c;
  border-bottom: 1px solid #3a3d44;
  font-family: 'Roboto', sans-serif;
  border-radius: 0px;
}
.top-nav ul.dropdown-menu .divider {
  background-color: #3a3d44 !important;
  height: 2px !important;
}
.top-nav ul.dropdown-menu a {
  color: #b9b9b9 !important;
  line-height: 26px;
  text-transform: capitalize;
}
.top-nav ul.dropdown-menu a:hover {
  background: none;
  color: #FFFFFF !important;
}
.cart-v2 {
  z-index: 9999;
}
.cart-v2 .cart-btn {
  border-radius: 0px;
  background-color: #3a3d45;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border: 0px;
  outline: 0;
  box-shadow: none;
}
.cart-v2 .cart-btn i {
  font-size: 13px;
  padding-right: 6px;
}
.cart-v2 .cart-btn:focus {
  outline: 0;
}
.main-nav {
  min-height: 75px;
  /*overflow: hidden;*/
  background-color: #2e3137;
  clear: both;
  position: relative;
  display: table;
  width: 100%;
}
.main-nav .navbar-default {
  background-color: transparent;
  border-width: 0px;
  margin-bottom: 0px !important;
  z-index: 999;
}
.main-nav .navbar-default .navbar-brand {
  /*height:75px;*/
  line-height: 75px;
  padding: 0px;
}
.main-nav .navbar-default .navbar-nav > li > a {
  line-height: 75px;
  padding: 0px 20px;
  color: #b9b9b9;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.main-nav .navbar-default .navbar-nav > li > a:hover {
  color: #FFFFFF;
}
.main-nav .navbar-default .navbar-nav > li .head-sign-in {
  border: 1px solid #7d7d7d;
  display: inline-block;
  line-height: 34px;
  margin-top: 20px;
  margin-right: 10px;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.main-nav .navbar-default .navbar-nav > li .head-sign-in:hover {
  border-color: #ffffff;
}
.main-nav .navbar-default .navbar-nav > li .form-control {
  border-radius: 0px;
  border: 0px;
  outline: 0;
  margin-top: 22px;
  color: #8f8e8e;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.main-nav .navbar-default .navbar-nav > li .tab-search {
  padding: 1px;
}
.main-nav .navbar-default .navbar-nav > li .tab-search i {
  background-color: #ee644c;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 11px;
  width: 100%;
}
.main-nav .navbar-default .navbar-nav > li .cart-v1 {
  padding-top: 20px;
}
.main-nav .navbar-default .navbar-nav > li .cart-v1 > .cart-btn {
  padding: 10px 16px;
  background-color: #595f6a;
  display: inline-block;
  margin-bottom: 10px;
}
.main-nav .navbar-default .navbar-nav .dropdown-toggle:hover {
  color: #FFFFFF !important;
}
.main-nav .navbar-default .navbar-nav .dropdown-toggle {
  color: #b9b9b9 !important;
}
.main-nav .navbar-default ul.dropdown-menu {
  box-shadow: none;
  background: transparent;
  background: rgba(46, 49, 55, 0.8);
  border-top: 2px solid  #ee644c;
  border-bottom: 1px solid #3a3d44;
  font-family: 'Roboto', sans-serif;
  border-radius: 0px;
}
.main-nav .navbar-default ul.dropdown-menu .divider {
  background-color: #3a3d44 !important;
  height: 2px !important;
}
.main-nav .navbar-default ul.dropdown-menu a {
  color: #b9b9b9 !important;
  line-height: 26px;
  text-transform: capitalize;
}
.main-nav .navbar-default ul.dropdown-menu a:hover {
  background: none;
  color: #FFFFFF !important;
}
.main-nav .navbar-default .navbar-nav > .open > a,
.main-nav .navbar-default .navbar-nav > .open > a:hover,
.main-nav .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent !important;
  color: #FFFFFF !important;
}
.hero {
  max-height: 786px;
  background-color: #000000;
  overflow: hidden;
  margin-top: 0px;
  position: relative !important;
}
.hero img {
  width: 100%;
  opacity: 0.4;
}
.hero .hero-info {
  max-width: 800px;
  height: auto;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  margin-top: 175px;
  color: #FFFFFF;
}
.hero .hero-info .play {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom: 28px;
  color: #d7d7d7;
}
.hero .hero-info .main-head {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 32px;
  letter-spacing: 1px;
}
.hero .hero-info .play-small {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d7d7d7;
  margin-bottom: 22px;
}
.hero .hero-info .btn {
  border: 2px solid #FFFFFF;
  border-radius: 0px;
  padding: 0px 35px;
  height: 55px;
  line-height: 55px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.hero .hero-info .btn:hover {
  background-color: #ee644c;
}
@media (min-width: 680px) and (max-width: 900px) {
  .hero .hero-info {
    margin-top: 100px;
  }
  .hero .hero-info .play {
    font-size: 16px;
  }
  .hero .hero-info .main-head {
    font-size: 40px;
  }
}
@media (min-width: 300px) and (max-width: 680px) {
  .hero .hero-info {
    margin-top: 10%;
  }
  .hero .hero-info .play {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .hero .hero-info .main-head {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .hero .hero-info .btn {
    padding: 0px 20px;
    height: 35px;
    line-height: 30px;
  }
}
.hero-search {
  margin: 0 auto;
  padding: 0px 20px 32px 20px;
  max-width: 800px;
}
.hero-search .addon-icon {
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px solid #ececec;
  border-right: 1px solid transparent;
}
.hero-search .form-control {
  border-radius: 0px;
  height: 44px;
  border: 1px solid #ececec;
  border-left: 1px solid transparent;
  color: #8f8e8e;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
.hero-search .form-control:focus {
  box-shadow: none;
}
.hero-search .addon-search {
  background-color: #ee644c;
  border: 1px solid transparent;
  border-left: 2px solid #444444;
  border-radius: 0px;
}
.hero-search .addon-search a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 46px;
}
.hero-search .addon-search:hover {
  background-color: #ec5035;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
@media (min-width: 320px) and (max-width: 680px) {
  .hero-search {
    padding: 0px 20px 0px 20px;
  }
}
/*navbarbreakpoint*/
@media (min-width: 300px) and (max-width: 1000px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none !important;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-toggle {
    margin-top: 25px;
    margin-bottom: 16px;
    background: #ee644c;
    border-color: transparent !important;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar {
    background-color: #d7d7d7 !important;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background: #d3513b;
  }
  .nav {
    width: 100%;
  }
  .nav ul.dropdown-menu {
    width: 100%;
    box-shadow: none;
    background: transparent;
    position: relative;
    border-top: 1px solid  #3a3d44;
    border-bottom: 1px solid #3a3d44;
    font-family: 'Roboto', sans-serif;
  }
  .nav ul.dropdown-menu .divider {
    background-color: #3a3d44 !important;
    height: 2px !important;
  }
  .nav ul.dropdown-menu a {
    color: #b9b9b9 !important;
  }
  .nav ul.dropdown-menu a:hover {
    background: none;
    color: #FFFFFF !important;
  }
  .nav li {
    width: 100%;
    display: block !important;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    z-index: 99;
    max-height: 270px !important;
    margin-top: 13px;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch !important;
    border-top-width: 0px;
    box-shadow: none;
    margin-top: 0px;
    background: #2e3137;
    padding-left: 10px;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  .navbar-right {
    margin-right: 0px !important;
  }
}
/*navbarbreakpoint*/
/************************* nav-filter-responsive ************************/
@media (min-width: 100px) and (max-width: 800px) {
  .nav-filter .btn,
  .nav-filter .input-group-btn,
  .nav-filter .input-group,
  .nav-filter .btn-group,
  .nav-filter .form-control {
    display: block !important;
    width: 100% !important;
    margin-bottom: 2px;
    float: none !important;
    margin-left: 0px !important;
  }
  .nav-filter .dropdown-menu {
    width: 100%;
    opacity: 1 !important;
  }
}
/************************* GLOBAL HEADING ************************/
.marketizy-heading {
  text-align: center;
  /*border-bottom: 2px solid #e3e3e3;*/
  /*margin-bottom: 30px;*/
}
.marketizy-heading .border-head {
  border-top: 2px solid #ee644c;
  width: 62px;
  margin: 0 auto;
}
.marketizy-heading .text-head {
  /*border: 2px solid #e3e3e3;*/
  display: inline-block;
  padding: 6px;
  border-bottom: 0px;
}
.marketizy-heading .text-head h5 {
  text-transform: uppercase;
  /*border: 2px solid #e3e3e3;*/
  display: inline-block;
  padding: 8px 54px;
  margin: 0px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
  letter-spacing: 1.5px;
  line-height: 26px;
}
/************************* GLOBAL HEADING ************************/
/************************* GLOBAL colors ************************/
.orange-bg {
  background-color: #ee644c;
}
.yellow-bg {
  background-color: #ffbb33;
}
.blue-bg {
  background-color: #33b5e5;
}
.green-bg {
  background-color: #99cc00;
}
/************************* GLOBAL colors ************************/
/************************* GLOBAL ITEM *************************/
.marketizy-item {
  border: 1px solid #e3e3e3;
  margin-bottom: 55px;
}
.marketizy-item .item-holder {
  height: 185px;
  background: #FFFFFF;
  position: relative;
}
.marketizy-item .item-holder > img {
  width: 100%;
  height: 185px;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.marketizy-item .item-holder .music-player {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
}
.marketizy-item .item-holder .music-player a {
  float: left;
}
.marketizy-item .item-holder .music-player a i {
  color: #ffffff;
  font-size: 12px;
  background-color: #ee644c;
  padding: 10px 12px;
}
.marketizy-item .item-holder .music-player .seekbar {
  background-color: #2d2f29;
  padding: 11px 14px 11px 48px;
}
.marketizy-item .item-holder .music-player .seekbar .seek {
  border: 5px solid #ee644c;
}
.marketizy-item .item-holder .music-player .seekbar .seek a {
  margin-top: -12px;
  margin-left: -6px;
}
.marketizy-item .item-holder .overlay {
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 5px solid #e3e3e3;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.marketizy-item .item-holder .buy-item {
  position: absolute;
  display: none;
  top: 23%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
.marketizy-item .item-holder .buy-item a {
  border: 3px solid #2d2f29;
  display: inline-block;
  min-width: 150px;
  margin-bottom: 15px;
  padding: 6px 40px;
  color: #2d2f29;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 26px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.marketizy-item .item-holder .buy-item a:hover {
  background: #2d2f29;
  color: #FFFFFF;
}
.marketizy-item .item-details {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
}
.marketizy-item .item-details .item-name {
  padding: 15px 10px 15px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #999999;
}
.marketizy-item .item-details .item-name h5.track-name {
  margin: 0px;
}
.marketizy-item .item-details .item-name h5.track-name a {
  font-weight: 700;
  text-decoration: none;
  color: #2d2f29;
  text-transform: capitalize;
  line-height: 26px;
}
.marketizy-item .item-details .item-name .item-sales {
  font-weight: 500;
  text-transform: capitalize;
  line-height: 26px;
}
.marketizy-item .item-details .item-name .item-sales a {
  color: #ee644c;
  text-decoration: none;
}
.marketizy-item .item-details .item-name a.genre {
  text-transform: capitalize;
  font-weight: 500;
  color: #aaaaaa;
  line-height: 26px;
}
.marketizy-item .item-details .item-name h5.price {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #434343;
  text-transform: capitalize;
  line-height: 26px;
}
.marketizy-item .item-details .item-name ul {
  padding-left: 5px;
}
.marketizy-item .author {
  padding-left: 15px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #999999;
  line-height: 26px;
  text-transform: capitalize;
}
.marketizy-item .author ul {
  margin: 0px;
}
.marketizy-item .author ul li.author-avtar img {
  height: 23px;
  width: 23px;
  border-radius: 50%;
}
.marketizy-item .author ul li.author-name span a {
  font-weight: 700;
  color: #555555;
  margin-left: 5px;
}
.marketizy-item:hover .item-holder .overlay {
  opacity: 0.9;
}
.marketizy-item:hover .buy-item {
  display: block;
}
.breadcrumb {
  max-height: 350px;
  background-color: #000000;
  overflow: hidden;
  margin-top: 0px;
  position: relative !important;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0;
}
.breadcrumb img {
  width: 100%;
  opacity: 0.4;
}
.breadcrumb .breadcrumb-info {
  height: auto;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  margin-top: 100px;
  color: #FFFFFF;
}
.breadcrumb .breadcrumb-info .bread-head {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.breadcrumb .breadcrumb-info a {
  color: #d7d7d7;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  text-decoration: none;
}
.breadcrumb .breadcrumb-info a:hover {
  color: #ee644c;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.breadcrumb .breadcrumb-info .bread-location {
  padding-bottom: 10px;
}
.breadcrumb .breadcrumb-info .bread-location a {
  color: #d7d7d7;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  text-decoration: none;
}
.breadcrumb .breadcrumb-info .bread-location a:hover {
  color: #ee644c;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.breadcrumb .breadcrumb-info .bread-location i {
  color: #d7d7d7;
  font-size: 12px;
  padding: 0px 8px;
}
/************************* GLOBAL ITEM *************************/
.info {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  font-size: 14px;
  margin-bottom: 35px;
  text-align: center;
}
.popular {
  position: relative !important;
  padding-top: 90px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 105px;
}
.popular .btn {
  border-radius: 0px;
  color: #FFFFFF;
  padding: 0px 38px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
}
.popular .popular-holder {
  border: 1px solid #ededed;
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 34px;
}
.popular .popular-holder i {
  color: #ffffff;
  font-size: 18px;
  padding: 30px;
  border-radius: 50%;
}
.popular .popular-holder .heading {
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}
.popular .popular-holder .category-desc {
  text-transform: none;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 10px 20px;
}
.popular .popular-holder:hover {
  background-color: #2e3137;
}
.popular .popular-holder:hover .heading,
.popular .popular-holder:hover .category-desc {
  color: #ffffff;
}
.featured {
  position: relative !important;
  padding-top: 90px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 130px;
  background: #fcfcfc;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.featured .info {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.2px;
  font-size: 14px;
  margin-bottom: 35px;
  text-align: center;
}
.featured .item {
  padding-right: 15px;
}
.featured .item .marketizy-item {
  margin-bottom: 35px !important;
}
.follow-us {
  min-height: 390px;
  background: url(../images/hero.jpg) 50% 0 no-repeat fixed;
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
.follow-us .overlay {
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
}
.follow-us .play-small {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom: 28px;
  color: #d7d7d7;
  margin-bottom: 22px;
  z-index: 99;
  position: relative;
  text-align: center;
  font-style: italic;
}
.follow-us .heading {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 99;
  position: relative;
  width: 630px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.follow-us .btn {
  z-index: 99;
  position: relative;
  border-radius: 0px;
  color: #FFFFFF;
  padding: 0px 38px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
  background: transparent;
  border: 2px solid #ffffff;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.follow-us .btn:hover {
  background-color: #ee644c;
}
.our-clients {
  min-height: 140px;
  padding-top: 64px;
  background: #ffffff;
  margin-bottom: 38px;
}
.our-clients .item img {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.our-clients .item img:hover {
  -webkit-filter: grayscale(0);
  /* Google Chrome & Safari 6+ */
}
/***********marketizy-inner-heading***********/
.marketizy-inner-heading .text-inner-head h5 {
  text-transform: uppercase;
  display: inline-block;
  margin: 0px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
  letter-spacing: 1.5px;
  line-height: 26px;
  padding-bottom: 14px;
}
.marketizy-inner-heading .border-head-bottom {
  border-top: 2px solid #ee644c;
  width: 62px;
  padding-bottom: 24px;
}
/***********single-author***********/
.author-single {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  margin-bottom: 110px;
}
.author-single .author-image {
  width: 81px;
  margin: 0 auto;
  padding-top: 24px;
}
.author-single .author-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.author-single .top-author-name {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 22px;
}
.author-single .top-author-name a {
  text-decoration: none;
  color: #333333;
}
.author-single .top-author-name a:hover {
  color: #ee644c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.author-single .top-author-country {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 18px;
  border-bottom: 1px solid #e9e9e9;
}
.author-single .author-padding {
  padding-top: 18px;
  text-align: center;
}
.author-single .based-rating {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
  text-align: center;
}
.author-single .based-rating .author-rating-base {
  color: #777777;
  font-weight: 500;
  text-transform: none;
  padding-bottom: 22px;
}
.author-single .sales-block {
  display: block;
}
.author-single .sales-block .sales-items {
  margin: 0px;
}
.author-single .sales-block .sales-items li {
  width: 50%;
  padding: 0px;
  float: left;
}
.author-single .sales-block .sales-items li .sales {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 24px;
  background-color: #fbfbfb;
  border: 1px solid #e9e9e9;
}
.author-single .sales-block .sales-items li .sales a {
  color: #777777;
  text-decoration: none;
}
.author-single .sales-block .sales-items li .sales a .count {
  color: #333333;
  font-weight: 700;
}
.author-single .sales-block .sales-items li .sales a:hover {
  color: #33b5e5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.author-single .sales-block .sales-items li .sales a:hover .count {
  color: #33b5e5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.author-single .sales-block .sales-items li:last-child {
  border-left: 0px;
}
.author-rating li {
  padding: 0px;
}
.author-rating li i {
  color: #ffbb33;
  font-size: 14px;
  line-height: 20px;
}
/*****************sidebar****************/
.top-author-sidebar .sort-by {
  padding-bottom: 36px;
}
.top-author-sidebar .sort-by .sb-head {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 22px;
}
.top-author-sidebar .sort-by .sb-head i {
  color: #333333;
}
.top-author-sidebar .sort-by .price-range {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  padding: 18px 20px 46px 18px;
}
.top-author-sidebar .sort-by .price-range .irs-min,
.top-author-sidebar .sort-by .price-range .irs-max {
  background: #ffffff !important;
  margin-top: 45px;
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.top-author-sidebar .sort-by .price-range .irs-to,
.top-author-sidebar .sort-by .price-range .irs-from {
  background-color: #ee644c;
}
.top-author-sidebar .sort-by .sort-item {
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  border: 1px solid #e9e9e9;
  height: 49px;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  text-overflow: '';
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff url("../images/dropdown.jpg") no-repeat 100% center;
}
.top-author-sidebar .sort-by .panel-group .panel {
  margin-top: 0px;
  border-radius: 0px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 0px;
  background: #ffffff;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-heading {
  background-color: #fbfbfb !important;
  border-radius: 0px;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-heading .panel-title {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-heading .panel-title a {
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-heading .panel-title a .files {
  color: #777777;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-heading .panel-title a:hover {
  color: #ee644c;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-heading .panel-title a:hover .files {
  color: #ee644c;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-collapse {
  padding-bottom: 20px;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-collapse .panel-body {
  border-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 38px;
  text-transform: capitalize;
  padding-top: 0px;
  padding-bottom: 0px;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-collapse .panel-body a {
  color: #555555;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-collapse .panel-body a .category-files {
  color: #999999;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-collapse .panel-body a:hover {
  color: #ffbb33;
}
.top-author-sidebar .sort-by .panel-group .panel .panel-collapse .panel-body a:hover .category-files {
  color: #ffbb33;
}
.top-author-sidebar .sort-by .panel-group .panel:last-child {
  border-bottom: 1px solid #e9e9e9;
}
/********video-background********/
.video-bg {
  min-height: 390px;
  background: url(../images/video-bg.jpg) 50% 0% no-repeat fixed;
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  /*video
	{
		width: 100%;
		height: 390px;
		opacity: 0.7;
	}*/
}
.video-bg .video-overlay {
  background: #323c40;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
}
.video-bg .video-text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  position: relative;
}
.video-bg .video-text a {
  text-decoration: none;
  color: #ffffff;
}
.video-bg .video-text a i {
  font-size: 34px;
  background-color: #000000;
  border-radius: 50%;
  padding: 28px 32px 28px 36px;
}
.video-bg .video-text p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  text-transform: capitalize;
  text-align: center;
}
/********************* recent items ********************/
.grey-bg {
  background-color: #f9f9f9;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.recent-items {
  margin: 52px 0px;
  text-align: center;
}
.recent-items > p {
  text-align: center;
  margin: 13px 0px;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e6e6e6;
}
.recent-items > ul.recent-items-list {
  margin: 0px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  padding-top: 20px;
}
.recent-items > ul.recent-items-list li {
  height: 36px;
  background: #f9f9f9;
  line-height: 36px;
  margin: 0px !important;
  border-style: solid;
  border-color: #f9f9f9;
  border-width: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /*&:last-child
			{
				border-right: 2px solid #e2e2e2;
			}*/
}
.recent-items > ul.recent-items-list li a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  color: #959595;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.recent-items > ul.recent-items-list li:hover a,
.recent-items > ul.recent-items-list li.active a {
  color: #ee644c;
}
/******************** isotope styles ********************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/******************** isotope styles ********************/
/******************** Bg White ********************/
.bg-white {
  background: #ffffff;
}
.bg-white.free-items-bg {
  padding: 90px 0px;
  padding-bottom: 49px;
}
/******************** Free Items ********************/
.free-item {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 26px;
}
.free-item .item-holder {
  height: 212px;
}
.free-item .item-holder img {
  width: 100%;
  height: 100%;
}
.free-item h4 {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  width: 275px;
  margin: 11px auto;
  line-height: 22px;
  margin-top: 22px;
}
.free-item > ul {
  text-transform: capitalize;
  font-size: 12px;
  margin: 0px;
}
.free-item > ul li {
  color: #999999;
  margin: 0px;
  padding: 3px;
}
.free-item > ul li img {
  height: 23px;
  width: 23px;
  border-radius: 50%;
}
.free-item > ul li a {
  font-weight: 700;
  color: #555555;
}
.free-item > ul li a.light {
  font-weight: 500;
}
/******************** Free Items ********************/
@media (max-width: 640px) {
  .follow-us .heading {
    font-weight: 500;
    width: auto !important;
  }
}
/****************featured author**************/
.featured-author {
  margin-top: 82px;
}
.featured-author .featured-user {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
}
.featured-author .featured-user .featured-img {
  float: left;
  padding-right: 22px;
}
.featured-author .featured-user .featured-img img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
.featured-author .featured-user .feature-uname {
  font-size: 16px;
}
.featured-author .featured-user .feature-country {
  font-weight: 500;
  color: #aaaaaa;
}
.featured-author .featured-user .feature-sales {
  line-height: 26px;
}
.featured-author .featured-user .feature-sales span {
  color: #777777;
  font-weight: 400;
}
.featured-author .featured-user p {
  clear: both;
  padding-top: 30px;
  color: #777777;
  font-weight: 400;
  line-height: 20px;
}
.featured-author .featured-user a {
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ee644c;
  border: 1px solid transparent;
  display: block;
  width: 100%;
  padding: 18px 0px;
  margin-bottom: 30px;
}
.featured-author .featured-user a:hover {
  color: #ee644c;
  background-color: #ffffff;
  border: 1px solid #ee644c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.some-works {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.features-list {
  padding-top: 100px;
  padding-bottom: 100px;
}
.features-list .features i {
  height: 78px;
  width: 78px;
  border: 2px solid #ee644c;
  border-radius: 50%;
  color: #ee644c;
  font-size: 18px;
  text-align: center;
  line-height: 78px;
  display: block;
  margin: 0 auto;
}
.features-list .features .feature-head {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
}
.features-list .features .feature-content {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.latest-blog {
  padding-top: 72px;
  border-bottom: 1px solid #eeeeee;
}
.latest-blog .blog-latest {
  padding-top: 8px;
  padding-bottom: 86px;
}
.latest-blog .blog-latest .blog-img {
  width: 270px;
  float: left;
}
.latest-blog .blog-latest .blog-img img {
  width: 100%;
  height: auto;
}
.latest-blog .blog-latest .blogpost {
  margin-left: 300px;
}
.latest-blog .blog-latest .blogpost .blog-post {
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.latest-blog .blog-latest .blogpost .blog-post span {
  color: #aaaaaa;
}
.latest-blog .blog-latest .blogpost .blog-post span a {
  color: #ee644c;
  text-decoration: none;
}
.latest-blog .blog-latest .blogpost .blog-post span a:hover {
  color: #ea3c1d;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.latest-blog .blog-latest .blogpost .blog-head {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.latest-blog .blog-latest .blogpost .blog-content {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-transform: none;
  padding-top: 2px;
}
.latest-blog .blog-latest .blogpost .continue-blog {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.latest-blog .blog-latest .blogpost .continue-blog a,
.latest-blog .blog-latest .blogpost .continue-blog i {
  color: #ee644c;
  text-decoration: none;
}
.latest-blog .blog-latest .blogpost .continue-blog a:hover,
.latest-blog .blog-latest .blogpost .continue-blog i:hover {
  color: #ea3c1d;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/****************footer****************/
.footer {
  background-color: #2e3137;
  margin-top: 10px;
  border-top: 1px solid #d5d5d5;
}
.footer .copyright {
  margin-top: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #b7b7b7;
  background-color: #262930;
  text-align: right;
  text-transform: capitalize;
  padding-top: 24px;
  padding-bottom: 22px;
}
.footer .copyright span {
  font-weight: 500;
  color: #ffffff;
}
.footer .bottom-footer {
  padding-top: 58px;
}
.footer .bottom-footer .about p {
  line-height: 20px;
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 20px;
}
.footer .bottom-footer .about .cards li {
  padding: 0px;
  padding-right: 4px;
}
.footer .bottom-footer .destination {
  background: url(../images/map-footer.png) 0px 30px no-repeat;
}
.footer .bottom-footer .destination .sub-heading {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
.footer .bottom-footer .destination p {
  line-height: 20px;
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer .bottom-footer .heading {
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
.footer .bottom-footer ul li a {
  line-height: 28px;
  font-size: 13px;
  text-decoration: none;
  color: #b7b7b7;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .bottom-footer ul li a:hover {
  color: #ee644c;
}
.footer .bottom-footer .connect li:hover a.fb-icon {
  color: #3e5a99;
}
.footer .bottom-footer .connect li:hover a.fb-icon i {
  background-color: #3e5a99;
}
.footer .bottom-footer .connect li:hover a.twitter-icon {
  color: #00aced;
}
.footer .bottom-footer .connect li:hover a.twitter-icon i {
  background-color: #00aced;
}
.footer .bottom-footer .connect li:hover a.google-icon {
  color: #ff4444;
}
.footer .bottom-footer .connect li:hover a.google-icon i {
  background-color: #ff4444;
}
.footer .bottom-footer .connect li:hover a.youtube-icon {
  color: #cc181e;
}
.footer .bottom-footer .connect li:hover a.youtube-icon i {
  background-color: #cc181e;
}
.footer .bottom-footer .connect li:hover a.flickr-icon {
  color: #fe0084;
}
.footer .bottom-footer .connect li:hover a.flickr-icon i {
  background-color: #fe0084;
}
.footer .bottom-footer .connect i {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 8px;
  background-color: #d3d3d3;
  color: #FFFFFF;
  line-height: 25px;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/****************sign in & sign up**************/
.signinup {
  z-index: 9999;
}
.signinup .modal-dialog .modal-content {
  border-radius: 0px;
}
.signinup .modal-dialog .modal-content .modal-header {
  background-color: #ee644c;
  height: 68px;
}
.signinup .modal-dialog .modal-content .modal-header h4 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}
.signinup .modal-dialog .modal-content .modal-body {
  padding: 30px;
}
.signinup .modal-dialog .modal-content .modal-body .form-group .form-control {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 0px;
  border: 1px solid #e7e7e7;
  background-color: #fcfcfc;
  box-shadow: none;
  height: 45px;
}
.signinup .modal-dialog .modal-content .modal-body .loginnow {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 0px;
  border: 0px;
  background-color: #ee644c;
  border: 1px solid transparent;
  box-shadow: none;
  padding: 14px 30px;
}
.signinup .modal-dialog .modal-content .modal-body .loginnow:hover {
  color: #ee644c;
  background-color: #ffffff;
  border: 1px solid #ee644c;
  -webkit-transition: all 300ms ease-out 100ms;
  -moz-transition: all 300ms ease-out 100ms;
  -o-transition: all 300ms ease-out 100ms;
  transition: all 300ms ease-out 100ms;
}
.signinup .modal-dialog .modal-content .modal-body .loginnow:focus,
.signinup .modal-dialog .modal-content .modal-body .loginnow:active {
  border: 1px solid #ee644c;
  outline: 0;
}
.signinup .modal-dialog .modal-content .modal-body .signupnow {
  display: block;
  width: 100%;
}
.signinup .modal-dialog .modal-content .modal-body .forgot-login {
  padding-top: 16px;
  padding-bottom: 10px;
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  float: right;
}
.signinup .modal-dialog .modal-content .modal-body .forgot-login i {
  color: #888888;
  padding-right: 8px;
}
.signinup .modal-dialog .modal-content .modal-body .forgot-login a {
  color: #33b5e5;
  text-decoration: none;
}
.signinup .modal-dialog .modal-content .modal-body .login-with-border {
  margin-top: 34px;
  border: 1px solid #e7e7e7;
}
.signinup .modal-dialog .modal-content .modal-body .login-with {
  margin-top: -12px;
  text-align: center;
}
.signinup .modal-dialog .modal-content .modal-body .login-with .signinor {
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  background-color: #ffffff;
  padding: 0px 25px;
}
.signinup .modal-dialog .modal-content .modal-body .social-login {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}
.signinup .modal-dialog .modal-content .modal-body .social-login a {
  color: #ffffff;
  line-height: 48px;
  text-decoration: none;
  height: 48px;
  display: block;
  margin-bottom: 15px;
}
.signinup .modal-dialog .modal-content .modal-body .social-login a i {
  font-size: 16px;
  padding-right: 12px;
}
.signinup .modal-dialog .modal-content .modal-body .social-login a.login-fb {
  background-color: #3b5998;
}
.signinup .modal-dialog .modal-content .modal-body .social-login a.login-tw {
  background-color: #00acee;
}
.signinup .modal-dialog .modal-content .modal-body .have-account {
  background-color: #f4f4f4;
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
}
.signinup .modal-dialog .modal-content .modal-body .have-account .no-account {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-transform: capitalize;
}
.signinup .modal-dialog .modal-content .modal-body .have-account .no-account a {
  background-color: #ee644c;
  color: #ffffff;
  text-decoration: none;
  padding: 0px 14px;
  float: right;
  border: 1px solid transparent;
}
.signinup .modal-dialog .modal-content .modal-body .have-account .no-account a:hover {
  color: #ee644c;
  background-color: #ffffff;
  border: 1px solid #ee644c;
  -webkit-transition: all 500ms ease-out 100ms;
  -moz-transition: all 500ms ease-out 100ms;
  -o-transition: all 500ms ease-out 100ms;
  transition: all 500ms ease-out 100ms;
}
.video-popup .modal-dialog .modal-content {
  border-radius: 0px;
}
.video-popup .modal-dialog .modal-content .modal-header .modal-title {
  color: #ee644c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.video-popup .modal-dialog .modal-content .modal-body iframe {
  width: 100%;
  display: block;
}
.bsg-player {
  height: 99px;
  background-color: #272727;
  bottom: 0px;
  transition: position 500ms ease;
}
.bsg-player.fix-bottom,
.bsg-player.stuck {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.bsg-player .container {
  padding: 0px;
}
.bsg-player .player-buttons {
  width: 134px;
  height: 99px;
  background-color: #1C1C1C;
  font-size: 13px;
  padding-top: 20px;
  padding-left: 15px;
  float: left;
}
.bsg-player .player-buttons li {
  padding: 0px;
}
.bsg-player .player-buttons .previous a,
.bsg-player .player-buttons .next a {
  display: inline-block;
  width: 30.15625px;
  height: 30.15625px;
  background-color: #ee644c;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  margin: 0px;
}
.bsg-player .player-buttons .next a {
  margin-left: -7px;
}
.bsg-player .player-buttons .play a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #ee644c;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  margin-left: -7px;
}
.bsg-player .album-details {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
.bsg-player .album-details .album-art {
  float: left;
}
.bsg-player .album-details .album-art img {
  width: 80px;
  height: 80px !important;
}
.bsg-player .album-details .album-info {
  float: left;
  margin-left: 10px;
}
.bsg-player .album-details .album-info h4.title {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  width: 120px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
.bsg-player .album-details .album-info h4.title .js-marquee {
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bsg-player .album-details .album-info .price {
  color: #b7b7b7;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
}
.bsg-player .album-details .album-info .author {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 120px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.bsg-player .album-details .album-info .album-year {
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
}
.bsg-player .album-details .album-info .album-year span {
  font-weight: 400;
}
.bsg-player .player-seek {
  height: 99px;
  float: left;
  width: 650px;
  margin-left: 30px;
}
.bsg-player .player-seek .progress {
  width: 80% !important;
  float: left !important;
  height: 14px;
  background-color: #020202;
  margin-top: 41px;
  border-radius: 0px;
  /* The seeking class is added/removed inside jPlayer */
}
.bsg-player .player-seek .progress .progress-bar {
  background-color: #ee644c;
}
.bsg-player .player-seek .progress .jp-seek-bar {
  background-color: #020202 !important;
  width: 0px;
  height: 100%;
  cursor: pointer;
}
.bsg-player .player-seek .progress .jp-play-bar {
  background-color: #ee644c !important;
  width: 0px;
  height: 100%;
}
.bsg-player .player-seek .progress .jp-seeking-bg {
  background-color: yellow !important;
}
.bsg-player .player-seek .time {
  display: inline-block;
  padding-left: 15px;
  line-height: 96px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
}
.bsg-player .player-seek .time div {
  display: inline-block;
}
.bsg-player .jp-time-holder {
  width: 100px;
  float: left;
}
.bsg-player .player-options {
  float: right;
  margin-right: 40px;
  line-height: 39px;
}
.bsg-player .player-options .playlist,
.bsg-player .player-options .mute-toggle a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  color: #FFF;
  font-size: 14px;
  outline: none;
}
.bsg-player .player-options .playlist a,
.bsg-player .player-options .mute-toggle a a {
  color: #FFFFFF;
}
.bsg-player .player-options .playlist .cart-number {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #ee644c;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  margin-top: -3px;
  font-size: 10px;
  color: #FFFFFF;
}
@media (min-width: 1040px) and (max-width: 1220px) {
  .bsg-player .player-seek {
    width: 460px;
  }
  .bsg-player .player-seek .progress {
    width: 70% !important;
  }
}
@media (min-width: 1008px) and (max-width: 1040px) {
  .bsg-player .player-seek {
    width: 460px;
  }
  .bsg-player .player-seek .progress {
    width: 70% !important;
  }
}
@media (min-width: 991px) and (max-width: 1008px) {
  .bsg-player .player-seek {
    width: 450px;
  }
  .bsg-player .player-seek .progress {
    width: 70% !important;
  }
}
@media (min-width: 816px) and (max-width: 991px) {
  .bsg-player .player-seek {
    width: 230px;
  }
  .bsg-player .player-seek .progress {
    width: 50% !important;
  }
}
@media (min-width: 710px) and (max-width: 816px) {
  .bsg-player .player-seek {
    width: 200px;
  }
  .bsg-player .player-seek .progress {
    width: 50% !important;
  }
  .bsg-player .player-options {
    margin-right: 0px;
  }
}
@media (min-width: 580px) and (max-width: 709px) {
  .bsg-player .album-details .album-info {
    display: none;
  }
  .bsg-player .player-seek {
    width: 200px;
  }
  .bsg-player .player-seek .jp-time-holder {
    display: none !important;
  }
  .bsg-player .player-seek .progress {
    width: 80% !important;
  }
  .bsg-player .player-options {
    margin-right: 0px;
  }
}
@media (min-width: 479px) and (max-width: 580px) {
  .bsg-player .album-details .album-info {
    display: none;
  }
  .bsg-player .player-seek {
    width: 100px;
  }
  .bsg-player .player-seek .jp-time-holder {
    display: none !important;
  }
  .bsg-player .player-seek .progress {
    width: 80% !important;
  }
  .bsg-player .player-options {
    margin-right: 0px;
  }
}
@media (max-width: 500px) {
  .bsg-player .album-details {
    display: none;
  }
  .bsg-player .player-seek {
    display: none;
  }
  .bsg-player .player-options {
    margin-right: 0px;
  }
}
