@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);*/
/******************** FONT VARIABLES ********************/
/******************** COLOR VARIABLES ********************/
body {
  background-color: #ffffff !important;
}
.about-heading {
  padding-top: 66px;
}
.about-image {
  max-height: 400px;
  overflow-y: hidden;
}
.about-image img {
  width: 100%;
  height: auto;
}
.about-feature .about-head {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: right;
  padding-top: 46px;
}
.about-feature .about-head span {
  padding-left: 10px;
}
.about-feature .about-head span i {
  color: #ee644c;
  font-size: 18px;
}
.about-feature p {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  text-align: right;
  padding-top: 12px;
}
.about-feature.about-left .about-head {
  text-align: left;
}
.about-feature.about-left .about-head span {
  padding-left: 0px;
  padding-right: 10px;
}
.about-feature.about-left p {
  text-align: left;
}
.team-members {
  margin-top: 124px;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  padding-top: 88px;
  padding-bottom: 52px;
}
.team-members .about-mem .about-mem-image img {
  width: 100%;
  height: auto;
}
.team-members .about-mem .mem-name {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.team-members .about-mem .mem-name p {
  color: #aaaaaa;
  font-size: 11px;
  line-height: 26px;
  text-transform: uppercase;
}
.about-clients {
  background-color: #f9f9f9 !important;
  border-top: 1px solid #eeeeee;
  margin-bottom: 0px !important;
}
